<!-- Modal which contains a partial -->
<div class="modal fade" id="loginfirst_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle"><%= t("u_r_not_authed") %></h5>
        <button type="button" class="close btn btn-danger" data-dismiss="modal" aria-label="Close" onclick="$('#loginfirst_modal').modal('hide');">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="mb-2">
          <%= t("please_login") %>
        </div>
        <%# This works because of Searches helper %>
        <%= render "devise/shared/login_form" %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="$('#loginfirst_modal').modal('hide');"><%= t("close") %></button>
      </div>
    </div>
  </div>
</div>