<h1>My cards</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Word</th>
      <th>Definition</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%= card.word %></td>
        <td><%= card.definition %></td>
        <td class="align-middle"><%= button_to 'Learn', card, type: :button, class: "btn btn-secondary", method: :get %></td>
        <td class="align-middle"><%= button_to 'Delete', card, type: :button, class: "btn btn-danger", method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
