/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .word_definition:hover {
    background-color: lightgrey;
    cursor: pointer;
}

a.hidden_link {
    color: inherit;
    text-decoration: inherit;
}

.opt:hover {
    cursor: pointer;
}

.freq:hover {
    cursor: help;
}

.word_row {
    font-weight: bold;
}

@media (min-width: 1000px) { /* самый большой */
    .input_field {
        max-width: 40%;
    }
    .input_card {
        max-width: 50%;
        margin: auto;
    }
    main {
        margin-bottom: 12%;
    }
    .icon {
        min-width: 47px;
        width: 15%;
        max-height: 60px;
    }
}

@media (max-width: 1000px) { /* средний */
    .input_field {
        max-width: 70%;
    }
    .input_card {
        max-width: 95%;
        margin: auto;
    }
    main {
        margin-bottom: 7%;
    }
    .icon {
        width: 32px;
    }
}

@media (max-width: 500px) { /* маленький */
    .input_field {
        max-width: 100%;
    }
    .input_card {
        max-width: 100%;
    }
    .hide_me {
        display: none;
    }
    .icon {
        width: 25px;
    }
}

.loader {
    border: 6px solid #f3f3f3;
    border-radius: 50%;
    border-top: 6px solid #2880f3;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }