// Place all the styles related to the Words controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

tr.word_definition:hover {
    background-color: lightgrey;
    cursor: pointer;
}
a.hidden_link {
    color: inherit;
    text-decoration: inherit;
}